@import "../../styles/variables.scss";

h2 {
  font-size: $font-size-extralarge;
}

.container {
  height: 70vh;
  width: 35vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemList {
  list-style: none;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: scroll;
}

.modalFooter {
  .estimated {
    display: flex;
    justify-content: space-between;

    span {
      font-size: $font-size-extralarge;
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }
  p {
    margin-top: 1.2rem;
    font-size: $font-size-large;
    text-align: center;
    text-decoration: underline;
  }
}

@include respond(tab-land) {
  .container {
    width: 50vw;
  }
}

@include respond(tab-port) {
  .container {
    width: 70vw;
  }
}
