@import "../../styles/variables.scss";

.desktop {
  display: block;

  @include respond(phone) {
    display: none;
  }
}

.mobile {
  display: none;

  @include respond(phone) {
    display: block;
  }
}
